.recover-mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  .recover-title {
    font-size: 3rem;
    font-family: $font-family;
    color: $blackPokeball;
    margin-bottom: 2rem;
  }
  .recover-formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 8rem;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    .recover-form {
      display: flex;
      flex-direction: column;
      .recover-formGroup {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        label {
          font-size: 2rem;
          font-family: $font-family;
          color: $blackPokeball;
          margin-bottom: 10px;
        }
        input {
          font-family: $font-family;
          width: 40rem;
          padding: 10px;
          font-size: 2.8rem;
          border: 1px solid #ccc;
          border-radius: 5px;
          &:focus {
            outline: 1px solid rgba(0, 0, 0, 0.2);
          }
        }
        .error {
          margin-left: 0.5rem;
          color: $redPokeball;
          font-family: $font-family;
          font-size: 1.5rem;
          margin-top: 1rem;
          width: 40rem;
          text-align: center;
        }
        .succes {
          color: $bluePokemon;
          font-family: $font-family;
          font-size: 1.5rem;
          margin-top: 1rem;
        }
      }
      .recover-btn {
        padding: 10px;
        font-size: 2rem;
        font-family: $font-family;
        border-radius: 5px;
        border: 2px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 2rem;
        transition: border 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          border: 2px solid $bluePokemon;
        }
      }
    }
  }
}
